### Dependents
***

In [1]:
import pandas as pd

In [2]:
# Important to parse_dates on the 'date' column. Otherwise the dtype for that column will be loss on the read statement
stations = pd.read_csv('../clean_stations.csv')
measures = pd.read_csv('../clean_measure.csv')

### Ensure data loads
***

In [3]:
# Printing the data
stations.head()

,station,latitude,longitude,elevation,name,country,state
0,USC00519397,21.2716,-157.8168,3.0,WAIKIKI 717.2,US,HI
1,USC00513117,21.4234,-157.8015,14.6,KANEOHE 838.1,US,HI
2,USC00514830,21.5213,-157.8374,7.0,KUALOA RANCH HEADQUARTERS 886.9,US,HI
3,USC00517948,21.3934,-157.9751,11.9,PEARL CITY,US,HI
4,USC00518838,21.4992,-158.0111,306.6,UPPER WAHIAWA 874.3,US,HI

In [4]:
measures['date'] = pd.to_datetime(measures['date'])

In [5]:
stations.dtypes

station       object
latitude     float64
longitude    float64
elevation    float64
name          object
country       object
state         object
dtype: object

In [6]:
measures.dtypes

station            object
date       datetime64[ns]
precip            float64
tobs                int64
dtype: object

In [7]:
measures.head()

       station       date  precip  tobs
0  USC00519397 2010-01-01    0.08    65
1  USC00519397 2010-01-02    0.00    63
2  USC00519397 2010-01-03    0.00    74
3  USC00519397 2010-01-04    0.00    76
4  USC00519397 2010-01-06    0.00    73

### Database Creation
***

In [8]:
# Importing all dependencies
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, DateTime
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [9]:
# Create an engine to SQLite database call 'hawaii.sqlite'.
engine = create_engine("sqlite:///hawaii.sqlite")

In [10]:
# Create a connection to the engine
conn = engine.connect()

In [29]:
# Establishing the class/tables including column name, type, length
Base = declarative_base()
class Stations(Base):
    __tablename__ = 'stations'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    name = Column(String)
    country = Column(String)
    state = Column(String)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [30]:
# Building the classes in the SQLite db
# Base.metadata.create_all(engine)

In [31]:
class Measurement(Base):
    __tablename__ = 'mment'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    p = Column(Float)
    date = Column(DateTime)
    p = Column(Float)
    tobs = Column(Integer)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [32]:
# Building the classes in the SQLite db
Base.metadata.create_all(engine)

In [33]:
# Converting the DataFrames into dictionaries
data_stations = stations.to_dict(orient='records')

In [34]:
data_measures = measures.to_dict(orient='records')

In [35]:
# Printing the dictionaries
print(data_stations[:5])

[{'station': 'USC00519397', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0, 'name': 'WAIKIKI 717.2', 'country': 'US', 'state': 'HI'}, {'station': 'USC00513117', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6, 'name': 'KANEOHE 838.1', 'country': 'US', 'state': 'HI'}, {'station': 'USC00514830', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0, 'name': 'KUALOA RANCH HEADQUARTERS 886.9', 'country': 'US', 'state': 'HI'}, {'station': 'USC00517948', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9, 'name': 'PEARL CITY', 'country': 'US', 'state': 'HI'}, {'station': 'USC00518838', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6, 'name': 'UPPER WAHIAWA 874.3', 'country': 'US', 'state': 'HI'}]

In [36]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [37]:
table1 = sqlalchemy.Table('stations', metadata, autoload=True)

In [38]:
conn.execute(table1.delete())

In [39]:
conn.execute(table1.insert(), data_stations)

In [40]:
# Executing a select statement on the Stations tables
conn.execute("SELECT * FROM stations LIMIT 5").fetchall()

[(1, 'USC00519397', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 21.4992, -158.0111, 306.6)]

In [41]:
# Printing the dictionaries
print(data_measures[:5])

[{'station': 'USC00519397', 'date': Timestamp('2010-01-01 00:00:00'), 'precip': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': Timestamp('2010-01-02 00:00:00'), 'precip': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': Timestamp('2010-01-03 00:00:00'), 'precip': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': Timestamp('2010-01-04 00:00:00'), 'precip': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': Timestamp('2010-01-06 00:00:00'), 'precip': 0.0, 'tobs': 73}]

In [42]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [43]:
# Building the tables in the SQLite db
table2 = sqlalchemy.Table('measures', metadata, autoload=True)

In [44]:
# Clears the tables before inserting records
conn.execute(table2.delete())

In [45]:
conn.execute(table2.insert(), data_measures)

In [46]:
# Executing a select statement on the Measurement table
conn.execute("SELECT * FROM measurements LIMIT 10").fetchall()

[(1, 'USC00519397', '2010-01-01', None, 65.0),
 (2, 'USC00519397', '2010-01-02', None, 63.0),
 (3, 'USC00519397', '2010-01-03', None, 74.0),
 (4, 'USC00519397', '2010-01-04', None, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0),
 (6, 'USC00519397', '2010-01-07', None, 70.0),
 (7, 'USC00519397', '2010-01-08', None, 64.0),
 (8, 'USC00519397', '2010-01-09', None, 68.0),
 (9, 'USC00519397', '2010-01-10', None, 73.0),
 (10, 'USC00519397', '2010-01-11', None, 64.0)]

In [ ]:
print()